org/naj/java/xml/jaxb/res/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="addressNamespace" 
    elementFormDefault="qualified">
 
    <xsd:complexType name="address">
        <xsd:sequence>
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="province" type="xsd:string"/>
            <xsd:element name="postal-code" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
 
</xsd:schema>