org/naj/java/xml/jaxb/demo1/xsd/address.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.example.org/address" 
	targetNamespace="http://www.example.org/address"
	elementFormDefault="qualified">
	<xsd:complexType name="address">
		<xsd:sequence>
			<xsd:element name="street" type="xsd:string" />
			<xsd:element name="city" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>